.comments-item {
.comment-item {
    padding-top: 1em;
    border-top: 1px solid #ddd;
}

@media (min-width: 700px) {
    .comment-body {
        padding-right: 16.7%;
    }
}

.comment-header {
    padding-bottom: .3em;
}

.comment-likes {
    font-size: .9em;
}
